@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

/* <!----------------------NavBar---------------------> */
.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
}

.nav-left {
    padding-left: 1%;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-around;
}

.nav-left>i {
    padding: 10px;
}

.nav-left img {
    width: 100px;
    height: 50px;
}

sup {
    margin-top: -20px;
    font-size: 10px;
}

.nav-center {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
}

.nav-center>form>input {
    width: 45%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    border: 1px solid #D3D3D3;
    padding: 15px;
    font-size: 16px;
}

.nav-center>form>#search {
    font-size: 23px;
    padding: 7.8px 20px;
    border-radius: 0 20px 20px 0;
    background-color: #F8F8F8;
    border: 1px solid #D3D3D3;
    border-left: none;
}

.nav-center>form>#mic {
    font-size: 23px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: #F2F2F2;
}

.nav-right {
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-around;
}

.nav-right img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nav-right>i {
    font-size: 23px;
    padding: 10px;
}

.nav-center>form>#search:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.nav-center>form>#mic:hover {
    background-color: #D9D9D9;
    cursor: pointer;
}
/* -------------------NAVBAR CSS END ----------------------- */




/* -------------------SIDEBAR CSS STARTS --------------------- */

.sidebar {
    height: 100vh;
    z-index: 1;
    width: 15%;
    /* --rem:calc(100%-15%); */
    top: 70px;
    position: fixed;
    overflow: hidden;
}
.sidebar:hover{
    overflow-y: scroll;
}
.home {
    margin-left: 10px;
    background-color: #F2F2F2;
    padding: 8px 0px 8px 12px;
    width: 205px;
    display: flex;
    gap: 22px;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-content {
    font-family: sans-serif;
    margin-left: 10px;
    padding: 10px 0px 8px 12px;
    width: 205px;
    display: flex;
    gap: 24px;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 100;
    overflow-x: hidden;
}

hr {
    width: 205px;
    background-color: #E5E5E5;
    opacity: 0.3;
    margin: 8px 10px;

}

.sidebar-content img {
    width: 20px;
}

.sidebar-content>img {
    border-radius: 50%;
}

.sidebar-content:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
/* -------------------------SIDEBAR STYLING END ---------------------- */




/* --------------------------Below NAVBAR STYLING------------------ */

.below-nav {
    padding: 10px 0;
    background-color: white;
    width: 1400px;
    display: flex;
    gap: 15px;
    position: fixed;
    top: 60px;
    left: 260px;
    z-index: 2;
    position: fixed;
    margin-right: 300px;
}
.below-nav:hover{
    overflow-y: hidden;
}

#all {
    background-color: #070707;
    color: white;
}

.below-nav p {
    background-color: #F2F2F2;
    height: 35px;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.below-nav p:hover {
    background-color: #E6E6E6;
    transition: ease-in 0.2s;
    cursor: pointer;
}

/*------------------------STYLING END------------------------------  */



/* -------------------VIDEO SECTION STYLING------------------------- */
.main{
    
    display: flex;
    position: relative;
    flex-direction: row;
}
.video-section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 137px;
    gap: 15px;
    left: 260px;
    margin-right: 300px;
}

.videos {
    flex-grow: 1;
    width: 15%;
    min-width: 270px;
    margin-bottom: 45px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}

.videos>a>img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
    object-fit: contain;
}

.title-and-logo {
    width: 100%;
    display: flex;
    gap: 15px;
}
.title-only{
    width: 100%;
}
.title-and-logo>img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.title-only>p {
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    max-height: 40px;
    overflow: hidden;

}

.title-only p+p {
    color: #656060;
    font-weight: lighter;
    margin-bottom: 0px;
    line-height: 19px;
}

.videos>a>img:hover {
    border-radius: 0px;
    transition: ease-in 0.2s;
    cursor: pointer;
}

.hover-pointer:hover {
    border-radius: 50%;
    background-color: #D9D9D9;
    cursor: pointer;
}

/* -----------------------------Media Query ------------------------------*/

@media screen and (max-width:700px) {
    
    .nav-center>form>#mic {
        font-size: 23px;
        margin-left: 0px;
        background-color: white;
        
    }
    .nav-center>form>#search {
        font-size: 28px;
        padding: 0px 0px;
        background-color: white;
        border: none;
        border-left: none;
    }
    .nav-center>form>input {
        width: 0;
        height: 0;
        border-radius: 0px 0 0 0px;
        border: none;
        padding: 0px;
        font-size: 0px;
    }
    .nav-right{
        gap: 0px;
    }
    form {
        justify-content: flex-end;
    }
}

@media screen and (min-width:200px) and (max-width:1313px) {
    .hide {
        display: none;
        
    }

    .sidebar-content,.home {
        flex-direction: column;
        width: 70px;
        gap: 0;
        font-size: 10px;
        margin-left: 0px;
        padding: 10px 0px 8px 0px;
        background-color: white;
    }

    .sidebar {
        width: 5%;
        min-width: 70px;
    }

    .sidebar:hover {
        overflow: visible;
    }

    .home:hover {
        background-color: #F2F2F2;
        cursor: pointer;
    }

    .video-section {
        left: 70px;
        margin-right: 90px;
    }
    .below-nav {
        left: 70px;
    }

}
@media screen and (max-width:199px) {

    .sidebar {
        display: none;
    }
    .video-section{
        width:100%;
        left: 10px;
        margin-right: px;
    }
    .below-nav {
        left: 10px;
}
}

@media screen and (max-width:1575px) {
    .videos {
        width: 25%;
    }
}
